body{
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    margin: 4%;
    border-radius: 10%;
}
header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
header > *{
    font-family: 'Pacifico', cursive;
    text-align: center;
}
header > p{
    color: #7e7d7d;
    margin-right: 3%;
    margin-left: 3%;

}
footer{
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.main-changelog{
    display: flex;
    flex-direction: row;
}
.main-changelog > li::marker{
    font-size: 5em;
}
.date{
    margin: 0 30px 0 0;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
}
*{
    font-family: 'Arial', sans-serif;
}
td {

    padding: 20px;
    margin: 10px 20% 10px 10px;
}
.vertical{
    border-left: 2px solid black;
    position: relative;
    font-weight: bold;

}
.vertical::before {
    font-family: "Times New Roman";
    content: ".";
    position: absolute;
    left: -17px; /* Adjust this value to position the dot */
    top: -82px;
    font-size: 130px; /* Adjust the font size as needed */
    color: black; /* Dot color */
}
.table-div{
    display: flex;
    justify-content: center;
    align-content: center;
}
.date{
    font-weight: bold;
    text-align: right;
    color: #7e7d7d;
    margin-right: 20%;
    margin-bottom: 5%;
}
.date::after {
    content: "    ";
}

button{
    background-color: #1c1c1c;
    color: white;
    padding: 2% 4% 2% 4%;
    border-radius: 15px;
    font-weight: bold;

}
